[submodule "datasets/scidocs"]
        path = datasets/scidocs
        url = https://github.com/allenai/scidocs.git
[submodule "few_shot_clustering/cmvc"]
	path = few_shot_clustering/cmvc
	url = https://github.com/viswavi/cmvc.git
[submodule "few_shot_clustering/active_semi_supervised_clustering"]
	path = few_shot_clustering/active_semi_supervised_clustering
	url = https://github.com/viswavi/active_semi_supervised_clustering.git
