[submodule "clustering/active-semi-supervised-clustering"]
	path = clustering/active-semi-supervised-clustering
	url = https://github.com/viswavi/active-semi-supervised-clustering.git

[submodule "datasets/scidocs"]
        path = datasets/scidocs
        url = https://github.com/allenai/scidocs.git
[submodule "clustering/cmvc"]
	path = clustering/cmvc
	url = https://github.com/Yang233666/cmvc.git
[submodule "clustering/sccl"]
	path = clustering/sccl
	url = https://github.com/viswavi/sccl
